{{#if isLogged}}
   <div id="editorContainer">
     <div id="mappingEditor">
     {{mapping-edit-form currentUser=currentUser currentMapping=currentMapping}}
    </div>
    <div id="mappingList">
      <button style="width: 100%;" {{action "triggerNewMapping"}}>New Mapping</button><br><br>   
      {{#each mappingList as |mapping|}}
        <li class="li-clickable" {{action "triggerEditMapping" mapping}}>{{mapping.tacticId.name}} - {{mapping.patternId.name}}</li>
      {{/each}}
    </div>
  </div>
{{else}}
You are not logged in, please Login first
{{/if}}