
<ul class='c-rating'>
  {{#each stars as |star|}}
    {{#if enabled}}
      {{#if star.isFull}}
        <li class="c-rating__item is-active" {{action "starClicked" star.starRating}}></li>
      {{else}}
        <li class="c-rating__item" {{action "starClicked" star.starRating}}></li>
      {{/if}}
    {{else}}
      {{#if star.isFull}}
        <li class="c-rating__item_disabled is-active" {{action "starClicked" star.starRating}}></li>
      {{else}}
        <li class="c-rating__item_disabled" {{action "starClicked" star.starRating}}></li>
      {{/if}}
    {{/if}}
  {{/each}}
</ul>
<div>Anzahl der Bewertungen: {{numbRating}}</div>
<div>Durchschnittliche Bewertung: {{avgRating}}</div>
