<div class="mappings-content">
  <div class="visualization">
    <div id="visual-container">
    </div>
    <div id="pattern-info">{{nodeInfo}}</div>
  </div>
  <div id="mapping">
    Mappings:
    {{#each mappingsInfo as |mapping|}}
      <li {{action "doOpenModal" mapping}}>{{mapping.tacticId.name}} - {{mapping.patternId.name}}</li>
    {{/each}}<br>
    {{if mappingsInfo " " "No Mappings"}}
  </div>

  {{#if showOverview}}
    <button {{action "zoomOverview"}}>Overview</button>
  {{/if}}

</div>


 {{#bs-modal open=openModal title="Simple Dialog"}}
   {{#unless currentUser.logged}}
    only rating when logged in!
    <div id="rating-container"></div>
   {{/unless}}
 {{/bs-modal}}