<div class="mappings-content">
  <div class="visualization">
    <div id="visual-container">
    </div>
    <div id="pattern-info">{{nodeInfo}}</div>
  </div>
  <div id="mapping">
    Mappings:
    {{#each mappingsInfo as |mapping|}}

      <li class="li-clickable" {{action "doOpenModal" mapping}}>{{mapping.tacticId.name}} - {{mapping.patternId.name}}</li>
      {{star-rating mayRate=false mappingId=mapping.id initialRating=mapping.rating numbRating=mapping.ratingNumb }}
      <br>

    {{/each}}<br>
    {{if mappingsInfo " " "No Mappings"}}
  </div>

  {{#if showOverview}}
    <button {{action "zoomOverview"}}>Overview</button>
  {{/if}}

</div>


 {{!-- info modal --}}

{{#bs-modal open=openModal title=(string-concat currentMapping.tacticId.name currentMapping.patternId.name)}}
  <h2>Mapping Info</h2>
  <div>{{currentMapping.info}}</div>
   {{#if isLogged}}
    {{star-rating mayRate=userCanRate mappingId=currentMapping.id initialRating=currentMapping.rating numbRating=currentMapping.ratingNumb onClick=(action "receiveRating")}}
   {{else}}
    {{star-rating mayRate=false mappingId=currentMapping.id initialRating=currentMapping.rating numbRating=currentMapping.ratingNumb onClick=(action "receiveRating")}}
   {{/if}}
  
{{/bs-modal}}