<div class="mappings-content">
  <div class="visualization">
    <div id="visual-container">
    </div>
    <div id="pattern-info">{{nodeInfo}}</div>
  </div>
  <div id="mapping">
    Mappings:
    {{#each mappingsInfo as |mapping|}}

      <li 
        {{action "doOpenModal" mapping}}>{{mapping.tacticId.name}} - {{mapping.patternId.name}}
        {{star-rating mayRate=false mappingId=mapping.id initialRating=mapping.avgRating numbRating=mapping.ratingNumb onClick=(action "receiveRating")}}
      </li>
      <br>

    {{/each}}<br>
    {{if mappingsInfo " " "No Mappings"}}
  </div>

  {{#if showOverview}}
    <button {{action "zoomOverview"}}>Overview</button>
  {{/if}}

</div>


 {{!-- info modal --}}

  {{#bs-modal open=openModal title=(string-concat currentMapping.tacticId.name currentMapping.patternId.name)}}
    <h2>Mapping Info</h2>
    <div>{{currentMapping.info}}</div>
    {{star-rating mayRate=currentUser.logged mappingId=currentMapping.id initialRating=currentMapping.avgRating numbRating=currentMapping.ratingNumb onClick=(action "receiveRating")}}
 {{/bs-modal}}