<div class="loginForm">
      <div class="form-group">
          <h2>Neues Pattern</h2>
          <label for="exampleInputEmail1">Name</label>
          {{input value=patternName}}<br>
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Info</label>
          {{textarea value=patternInfo rows="10" class="form-control"}}
      </div>
      <button class="btn btn-default" {{action "create"}}>Create</button>
      <br>
      <br>
      <div class="form-group">
      Click to delete  
      {{#each patternList as |pattern|}}
        <li class="li-clickable" {{action "delete" pattern}}>{{pattern.name}}</li>
      {{/each}}
    </div>
</div>

